@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100%;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes levitate {

  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(10px, 10px);
  }
}

.animate-levitate {
  animation: levitate 6s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 97%, transparent);
}

.mask-gradient-techs {
  mask-image: 
    linear-gradient(to bottom, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent),
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to left, transparent, black 20%, black 80%, transparent);
  mask-composite: intersect;
}